.productHighlightWrapper--collection {
  position: absolute;
  top: 0;
  background-color: #475be0;
  width: fit-content;
  border-radius: .7px 22.5px 22.5px .7px;
  padding: 9px 16px;
  letter-spacing: .32px;
  font-size: 10px;
  color: #fff;
  margin-bottom: 1.875rem;
  z-index: 5;
  min-width: 80px;
}

.productHighlightText {
  border-radius: 20px;
}
